<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="mb-3">Find Home</h5>
                <p class="text-light-50">Find your perfect home with our curated listings and trusted reviews.</p>
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="mb-3">Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="/listing" class="text-light-50 text-decoration-none">Home</a></li>
                    <li class="mb-2"><a href="/listing" class="text-light-50 text-decoration-none">All Listings</a></li>
                    <li class="mb-2"><a href="/user/login" class="text-light-50 text-decoration-none">Login</a></li>
                    <li class="mb-2"><a href="/user/signup" class="text-light-50 text-decoration-none">Sign Up</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5 class="mb-3">Connect With Us</h5>
                <div class="social-links">
                    <a href="#" class="text-light-50 me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-light-50 me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-light-50 me-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="text-light-50"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4 bg-light-50">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0 text-light-50">&copy; 2024 Find Home. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="#" class="text-light-50 text-decoration-none me-3">Privacy Policy</a>
                <a href="#" class="text-light-50 text-decoration-none">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>