<div class="container">
<% if (success && success.length) { %>
  <div id="flash-alert" class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert">
    <%= success %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% } %>
</div>
<script>
  setTimeout(() => {
    const alert = document.getElementById('flash-alert');
    if (alert) {
      // Bootstrap 5 way to hide/dismiss the alert
      const bsAlert = new bootstrap.Alert(alert);
      bsAlert.close();
    }
  }, 3000); // Dismiss after 3 seconds
</script>